.pageContainer {
    display:flex;
}

.loadSave {
    text-align: center;
    padding: 1em;
}

.btnPadding {
    margin-left: 2em;
    margin-right: 2em;
}

.mainGenerator {
    display:flex;
}

.genColumn {
    margin: 1em;
    
}

.functionAndParam {
    display:flex;
}

#generatedCode {
    flex-basis: 70%;

}

#paramList {
    max-height: 300px;
    overflow-y: scroll;
    min-width: 200px;
}

#parameterDiv{
    max-height: 250px;
    width: 20%;

}

#nameInput {
    flex: 0 0 20%;
}

#codeDisplay {
    border-width: 2px;
    border-style: solid;
    border-color: lightgray;
    padding: 1em;
    height: 250px;
    overflow-y: scroll;
}

#argumentDescription {
    overflow-y:scroll;
    min-width: 400px;
    max-height: 300px;
}