::-webkit-scrollbar {
    background: rgb(244, 244, 244);
    height: 8px;
    width: 8px;

} 
::-webkit-scrollbar-thumb {
    background: rgb(197, 197, 197);
    border-radius: 10px;
}
 
 html {
    scrollbar-color: rgb(197, 197, 197) rgb(244, 244, 244);
    scrollbar-width: 8px;
}

h4 {
    margin-top: 0.8em;
    margin-bottom: 0.4em;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
}   

label{
    font-family:sans-serif;
    font-size:14px;
}

/* The whole page */
.pageContainer {
    display:flex;
    font-family: sans-serif;
}

/* Buttons at the very top */
.loadSave {
    text-align: center;
    padding: 1em;
}

.btnPadding {
    margin-left: 2em;
    margin-right: 2em;
}

/* The second row of the page (including both inputs & code) */
.mainGenerator {
    display:flex;
}

/* General column; a margin for most columns */
.genColumn {
    margin: 1em;
}

/* Bottom row of the page */
.functionAndParam {
    display:flex;
}

.btn {
    background-color: rgb(233, 238, 243);
    color: rgb(69, 68, 68);  
    border: 1px solid rgb(182, 179, 179);
    padding: 3px;
    font-family: 'Encode Sans', sans-serif;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1)

}

.btn-inline {
    margin-left: 10px;
}

.btn:hover {
    background-color: rgb(199, 203, 203);
}

.btn:active {
    background-color: rgb(138, 138, 138);
}

/* Div where the skulpt code is generated (including heading) */
#generatedCode {
    flex-basis: 70%;

}

/* Div where new parameters are generated */
#paramList {
    max-height: 300px;
    overflow-y: scroll;
    min-width: 200px;
}

/* Div including paramList & the heading for parameters */
#parameterDiv{
    max-height: 250px;
    width: 20%;

}

/* Column with file & project name & choose a function */
#nameInput {
    flex: 0 0 20%;
}

/* Where the text for the code is put */
#codeDisplay {
    border-width: 2px;
    border-style: solid;
    border-color: lightgray;
    padding: 1em;
    height: 250px;
    overflow-y: scroll;
}

/* The column with the argument description */
#argumentDescription {
    overflow-y:scroll;
    min-width: 400px;
    max-height: 300px;
}

/* The column with command, description, example */
#commandDescExampleColumn {
    max-width: 500px;
    overflow-x:scroll;

}

#loadBtnLabel {
    width: fit-content;
    font-size: 13px;
}

